<% if user_signed_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="post_form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
</div>
<% else %><h1>ようこそ</h1>
<p>トップページです。</p>
<%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
<% end %>